<!DOCTYPE html>
<html lang="en">
  <%- include('header'); %>
  <body>
    <%- include('nav'); %> 

    <!-- Start your project here-->

    <!-- Jumbotron -->
    <div class="p-5 text-center bg-light mb-5">
      <h1 class="mb-3">My First Application</h1>
      <h4 class="mb-4">...and it's awesome!</h4>
    </div>
    <!-- Jumbotron -->

    <div class="container mb-5">
      <div class="row">
    
        <!-- First column -->
        <div class="col-md">
    
          <!-- Card -->
          <div class="card">
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
              <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/111.webp" class="img-fluid" />
              <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
              </a>
            </div>
            <div class="card-body">
              <h5 class="card-title">Music</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
              <a href="/music" class="btn btn-primary">Button</a>
            </div>
          </div>
          <!-- Card -->
    
        </div>
        <!-- First column -->
    
        <!-- Second column -->
        <div class="col-md">
    
          <!-- Card -->
          <div class="card">
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
              <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/112.webp" class="img-fluid" />
              <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
              </a>
            </div>
            <div class="card-body">
              <h5 class="card-title">Movie</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
              <a href="/movie" class="btn btn-primary">Button</a>
            </div>
          </div>
          <!-- Card -->
    
        </div>
        <!-- Second column -->
    
        <!-- Third column -->
        <div class="col-md">
    
          <!-- Card -->
          <div class="card">
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
              <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/113.webp" class="img-fluid" />
              <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
              </a>
            </div>
            <div class="card-body">
              <h5 class="card-title">About</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
              <a href="/about" class="btn btn-primary">Button</a>
            </div>
          </div>
          <!-- Card -->
    
        </div>
        <!-- Third column -->
    
      </div>
    </div>
    
    <!-- End your project here-->

    <%- include('footer'); %>

  </body>
</html>
